body {
    font-family: helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

@media screen and (max-width:1000px) {
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    font-size: 40;
}

img {
    width: 100%;
}

h1, h2, h3, h4, p, li {
}