body {
    font-family: helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

@media screen and (max-width:1000px) {
}


img {
    width: 100%;
}

h1, h2, h3, h4, p, li {
}